@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@font-face {
  font-family: fuenteStephie;
  src: url(Tipografía/Spectral-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: fuenteStephie;
  /*   box-sizing: border-box; */
}

#navbarNav {
  text-align: right;
  justify-content: end;
}
/* Pretty Stuff */
.contact-form-container {
  background: #f4f3f3;
  font-family: fuenteStephie;
}
.contact-us {
  position: relative;
  width: 250px;
  background: #c3e0ec;
  overflow: hidden;
}
.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #f8b7d8;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #9ed8eb;
  transform: rotate(-25deg);
}
.contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}
.contact-header h1 {
  font-size: 1.5rem;
}
.social-bar {
  position: absolute;
  bottom: 20px;
  left: 75px;
  z-index: 1;
  width: 100px;
}
.social-bar ul {
  list-style-type: none;
}
.social-bar ul li {
  display: inline-block;
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-right: -4px;
  font-size: 1.2rem;
}
.header {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
.header h1 {
  font-weight: normal;
}
.header h2 {
  margin-top: 10px;
  font-weight: 300;
}
.address,
.email,
.phone {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
.address h3,
.email h3,
.phone h3 {
  font-size: 1rem;
  font-weight: 300;
}
.address i,
.email i,
.phone i {
  color: #f8b7d8;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

/* agregado aqui el width de form */
@media screen and (min-width: 1024px) {
  form {
    position: relative;
    width: 1200px;
    /* width: 440px; */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  form {
    position: relative;
    width: 850px;
    /* width: 440px; */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
  }
}

@media screen and (max-width: 768px) {
  form {
    position: relative;
    width: 440px;
    /* width: 440px; */
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
  }
}

form input,
form textarea {
  background: white;
  display: block;
  margin: 20px auto;
  width: 100%;
  border: 0;
}
form input {
  height: 40px;
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);
}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
}
form button {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 95px;
  border: 0;
  border-radius: 20px;
  bottom: -20px;
  background: #9ed8eb;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}
.contact-form {
  padding-bottom: 40px;
}
/* Layout Stuff */

.contact-form-container {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
}
.contact-us {
  grid-area: contact-us;
}
.header {
  grid-area: header;
}
.address {
  grid-area: address;
}
.phone {
  grid-area: phone;
}
.email {
  grid-area: email;
}
.contact-form {
  grid-area: contact-form;
}
#contacto {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mapsgoogle {
  align-items: center;
  display: flex;
  align-items: end;
  margin-top: 45px;
}
/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

#Footer {
  position: absolute;
  margin-top: 1200px;
  padding: 3%;
  padding-bottom: 0px;
}
.site-footer {
  /* background-color: var(--primary-color); */
  margin-top: 150px;
  padding-left: 5%;
  padding-right: 2%;
  position: absolute;
}

.site-footer strong {
  color: grey;
  /*  color: var(--white-color); */
}

.site-footer p,
.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  text-decoration: none;
}

.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  transition: all 0.3s;
  text-decoration: none;
}

.site-footer-link:hover {
  /*   color: rgba(255, 255, 255, 0.75); */
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: rgba(128, 128, 128, 0.764);
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 100px;
  height: auto;
  object-fit: cover;
  padding: 2px;
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}

/* para hacer el NAVBAR pequeño */
.smaller {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 70px;
}

.smallerlogo {
  width: 70px;
  height: auto;
}
