@font-face {
  font-family: fuenteStephie;
  src: url(Tipografía/Spectral-Italic.ttf);
}

/* Reset CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: fuenteStephie;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

#navbarNav {
  text-align: right;
  justify-content: end;
}

img {
  max-width: 100%;
  height: auto;
}

#navbarSteph {
  position: fixed;
  z-index: 1;
  min-width: 100%;
}

/* CSS slideshow*/
.w3-animate-fading {
  animation: fading 10s infinite;
}
@keyframes fading {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

/* Color Theme Swatches in Hex */
.verde-azul-oscuro-1-hex {
  color: #679e91;
}
.verde-azul-oscuro-2-hex {
  color: #335c54;
}
.verde-azul-oscuro-3-hex {
  color: #0a2913;
}
.verde-azul-oscuro-4-hex {
  color: #3c6330;
}
.verde-azul-oscuro-5-hex {
  color: #5e8a67;
}

:root {
  --white-color: rgba(255, 255, 255, 0.822);
  --primary-color: #0a2913;
  --secondary-color: #335c54;
  --section-bg-color: #5e8a67;
  --custom-btn-bg-color: grey;
  --custom-btn-bg-hover-color: #0a2913;
  --dark-color: #000000;
  --p-color: rgba(255, 255, 255, 0.822);
  --border-color: #679e91;
  --link-hover-color: rgba(238, 232, 232, 0);
}

#homeview {
  display: flex;
  flex-direction: row;
}
/*---------------------------------------
  Services Box              
-----------------------------------------*/

#services {
  padding-top: 100px;
}
#servicesline {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.servicesbox {
  margin-left: 5%;

  flex-direction: column;
  position: relative;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

#Footer {
  position: absolute;
}
.site-footer {
  /* background-color: var(--primary-color); */
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 2%;
  position: absolute;
}

.site-footer strong {
  color: grey;
  /*  color: var(--white-color); */
}

.site-footer p,
.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
}

.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  transition: all 0.3s;
}

.site-footer-link:hover {
  /*   color: rgba(255, 255, 255, 0.75); */
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: rgba(128, 128, 128, 0.764);
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 100px;
  height: 100px;
  padding: 2px;
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}

/* para hacer el NAVBAR pequeño */
.smaller {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 70px;
}

.smallerlogo {
  width: 70px;
  height: auto;
}
/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

#Footer {
  position: absolute;
  padding: 3%;
}
.site-footer {
  /* background-color: var(--primary-color); */
  margin-top: 150px;
  padding-left: 5%;
  padding-right: 2%;
  position: absolute;
}

.site-footer strong {
  color: grey;
  /*  color: var(--white-color); */
}

.site-footer p,
.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  transition: all 0.3s;
  text-decoration: none;
}

.site-footer-link:hover {
  /*   color: rgba(255, 255, 255, 0.75); */
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: rgba(128, 128, 128, 0.764);
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 100px;
  height: auto;
  object-fit: cover;
  padding: 2px;
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}

/* para hacer el NAVBAR pequeño */
.smaller {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 70px;
}

.smallerlogo {
  width: 70px;
  height: auto;
}
