/* Galeria Individual fotos */

@font-face {
  font-family: fuenteStephie;
  src: url(Tipografía/Spectral-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: fuenteStephie;
}

body {
  font-family: fuenteStephane;
}
.navbartitle {
  border: 0.1;
}

#navbarNav {
  text-align: right;
  justify-content: end;
}

@media screen and (min-width: 1023px) {
  .pictureclass {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .divgallery {
    padding-left: 3%;
  }

  .title {
    text-align: center;
    padding-top: 50px;
  }
  .subtitle {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .pictureclass {
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .divgallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    padding-top: 50px;
  }
  .subtitle {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 50px;
  }
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/

#Footer {
  position: absolute;
  padding: 3%;
}
.site-footer {
  /* background-color: var(--primary-color); */
  margin-top: 150px;
  padding-left: 5%;
  padding-right: 2%;
  position: absolute;
}

.site-footer strong {
  color: grey;
  /*  color: var(--white-color); */
}
.site-footer p,
.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  transition: all 0.3s;
  text-decoration: none;
}

.site-footer-link:hover {
  /*   color: rgba(255, 255, 255, 0.75); */
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: rgba(128, 128, 128, 0.764);
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 130px;
  height: auto;
  object-fit: cover;
  padding: 2px;
}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}

/* para hacer el NAVBAR pequeño */
.smaller {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 70px;
}

.smallerlogo {
  width: 70px;
  height: auto;
}
